.container {
  max-width: 900px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.header-styling {
  text-align: center;
}

.button-styling {
  display: flex;
  justify-content: space-between;
}

.button-styling > button {
  color: black;
  width: 74px;
  height: 70px;
  padding: 0;
}

.add-entry-styling {
  text-align: center;
}

.days-of-week {
  height: 120px;
}
