@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

/* ----------UTILITY---------- */

.container {
  font-family: 'Klee One', sans-serif;
  max-width: 900px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-90 {
  width: 90%;
}

.mt15 {
  margin-top: 15px;
}

.header-styling {
  text-align: center;
}

.button-styling {
  display: flex;
  justify-content: space-between;
}

.button-styling > button {
  cursor: pointer;
  background-color: white;
  color: black;
  width: 78px;
  height: 70px;
  padding: 0;
  border: 2px ridge black;
}

.add-entry-styling {
  text-align: center;
}

.add-entry-styling > button {
  cursor: pointer;
  background-color: white;
  color: black;
  width: 150px;
  height: 30px;
  padding: 0;
  border: 2px ridge black;
}

.days-of-week {
  height: 120px;
}

.box-shadow {
  box-shadow: 2px 2px;
}

.justify-center {
  justify-content: center;
}

/* ----------POP UP---------- */

.pop-up-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(56, 56, 56, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up {
  position: relative;
  width: 600px;
  height: 215px;
  background-color: white;
  border: 2px solid black;
  padding: 2px 30px;
}

.pop-up h2 {
  margin: 0;
  text-align: center;
}

.drop-down {
  cursor: pointer;
  border: 2px ridge black;
}

.text-area-styling {
  resize: none;
  width: 100%;
  height: 85px;
  border: 2px ridge black;
}

.popup-submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

.submit-button {
  text-align: end;
  border: 2px ridge black;
  background-color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* ----------TABLE---------- */

.table {
  text-align: left;
  border: 2px solid black;
  width: 100%;
  font-size: 12px;
}

table,
th,
td {
  border-right: 2px solid black;
  border-collapse: collapse;
}

th {
  background-color: #c5c5c5;
}

tr:nth-child(odd) {
  background-color: #ebebeb;
}

/* ----------PSEUDO CLASSES---------- */

.button-styling > button:hover {
  background-color: lightgray;
}

.add-entry-styling > button:hover {
  background-color: #97bcee;
}

.text-area-styling::placeholder {
  color: black;
}
